:host {
  .empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    text-align: center;

    .icon {
      --icon-custom-size: 3.5rem;
      --icon-custom-color: var(--mat-sys-on-surface);
    }

    .title {
      font: var(--mat-sys-title-large);
      color: var(--mat-sys-on-surface);
      margin: 0;
    }

    .description {
      font: var(--mat-sys-body-medium);
      color: var(--mat-sys-on-surface-variant);
      margin: 0;
    }
  }
}