:host {
  display: block;

  .date-text {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 8px;
    color: var(--mat-sys-on-surface-variant);
    font-size: 14px;

    .date-icon {
      --icon-custom-color: var(--mat-sys-on-surface-variant);
    }
  }
}