@use '@angular/material' as mat;

:host {
  display: block;
  height: 100%;

  .card-wrapper-btn {
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }

  .card {
    height: 100%;
    border: 1px solid var(--mat-sys-outline-variant);
    gap: 0.5rem;

    .card-header {
      .card-title-group {
        gap: 0.25rem;
        text-align: start;

        .card-image-wrapper {
          position: relative;
          height: 80px;
          width: 80px;
          min-width: 80px;
          border-radius: 4px;
          border: 1px solid var(--mat-sys-outline-variant);
        }
      }
    }

    .card-content {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;
    }
  }
}