@if (clickable()) {
  <button class="card-wrapper-btn"
    (click)="handleCardClick()">
    <ng-container [ngTemplateOutlet]="card"></ng-container>
  </button>
} @else {
  <ng-container [ngTemplateOutlet]="card"></ng-container>
}

<ng-template #card>
  <mat-card class="card">
    @if (showImage()) {
      <mat-card-header class="card-header">
        <mat-card-title-group class="card-title-group">
          <div class="card-image-wrapper">
            <img
              matCardImage
              fill
              class="card-image"
              [ngSrc]="localImageUrl()"
              [alt]="imageAlt()"
              (error)="onImgError($event)">
          </div>
          <mat-card-title>{{ title() }}</mat-card-title>
          @if (!!subtitle()) {
            <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
          }
        </mat-card-title-group>
      </mat-card-header>
    } @else {
      <mat-card-header class="card-header">
        <mat-card-title>{{ title() }}</mat-card-title>
        @if (!!subtitle()) {
          <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
        }
      </mat-card-header>
    }

    <mat-card-content class="card-content">
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</ng-template>