:host {
  .container-launches {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title {
      font: var(--mat-sys-display-small);
      color: var(--mat-sys-on-background);
      margin: 0;
    }
  }
}